/* Section One */
.head1 {
  @apply font-medium text-18;
}
.head2 {
  @apply mx-auto mt-3 font-bold capitalize text-fifth text-40;
}
.description {
  @apply mt-3 text-primary font-regular;
}
.card {
  @apply relative h-[19.375rem] after:absolute after:top-0 after:z-10 after:w-full after:h-0 lg:after:h-full after:rounded-lg after:left-0 after:bg-primary after:hover:-rotate-6 after:transition-all
  after:duration-150 after:ease-out after:opacity-0 after:hover:opacity-100;
}
.card::after {
  transform-origin: 12.5rem 0.625rem;
}
.cardWrapper {
  @apply relative z-20 flex flex-col items-center justify-center h-full bg-white rounded-lg;
}

/* Section Two */
.section2Wrapper {
  @apply grid items-center lg:grid-cols-section2 gap-y-10;
}
.sectionTwoCol1 {
  @apply flex justify-center px-4 lg:justify-start lg:px-0;
}
.wrapperImages {
  @apply relative flex items-center justify-center w-[23rem] h-[23rem] sm:w-[36.8125rem] sm:h-[36.8125rem] bg-secondary rounded-full;
}
.sectionTwoimage1 {
  @apply w-[102px] lg:w-[204px] absolute z-30 -translate-y-1/2 drop-shadow-2xl top-2/4 end-0 lg:-end-11;
}
.sectionTwoimage2 {
  @apply relative w-[17rem] sm:w-[24.25rem] -top-24 sm:-top-36;
}
.sectionTwoElSVG {
  @apply absolute -bottom-8 sm:bottom-[5.4375rem] scale-[0.6] sm:scale-100;
}

/* Section Three */
.section3Wrapper {
  @apply grid items-end px-2 lg:grid-cols-section3 gap-y-20;
}
.sectionThreeCol1 {
  @apply order-last px-2 text-center lg:text-start lg:px-0 lg:order-none;
}
.sectionThreeCol2 {
  @apply flex justify-center order-first lg:order-none;
}
.sectionThreeimage2 {
  @apply absolute w-[83px] md:w-[166px] -translate-y-1/2 top-2/4 end-0 md:-end-16 drop-shadow-2xl;
}
.sectionThreeElSVG {
  @apply absolute -bottom-8 start-11 md:start-0;
}
